:root{
    --bg1: #9b59b6;
    --bg2: #3498db;
    --text: #26ade4;
}

*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom right, var(--bg1), var(--bg2));
}

.container{
    width: 400px;
    background: var(--white-color);
    border-radius: 5px;
    text-align: center;
    padding: 50px 35px 10px 35px;
}

.container__heading{
    font-size: 3.5rem;
    font-weight: 600;
    margin: 0 0 30px 0;
    color: var(--text);
}

.container__body{
    width: 100%;
    overflow: hidden;
}

.form__Registration{
    display: flex;
    width: 400%;
}

.form__page{
    width: 25%;
    transition: margin-left 0.3s ease-in-out;
}

.form__page-title{
    text-align: left;
    font-size: 2.5rem;
    font-weight: 500;
    margin-top: 10px;
}

.form-group{
    position: relative;
    height: 45px;
    width: 330px;
    margin: 60px 0 65px 0;
}

.form__info{
    display: flex;
}

.form-message{
    font-size: 1.4rem;
    display: flex;
    color: red;
    margin-left: 5px;
}

.invalid{
    border: 1px solid red;
    border-radius: 5px;
}

.form__page-label{
    position: absolute;
    top: -22px;
    font-size: 1.4rem;
    font-weight: 500;
}

.form__page-date{
    display: flex;
}

.form__page-input-date{
    height: 45px;
    width: 106px;
    margin: 0 6px 6px 0;
    border: 1px solid lightgrey;
    border-radius: 5px;
    font-size: 1.5rem;
    padding-left: 15px;
    outline: none;
}

.form__page-input-date-month{
    height: 45px;
    width: 162px;
    margin: 0 6px 6px 0;
    border: 1px solid lightgrey;
    border-radius: 5px;
    font-size: 1.5rem;
    padding-left: 15px;
    outline: none;
}

.form__page-input{
    height: 45px;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 5px;
    font-size: 1.5rem;
    padding-left: 15px;
    outline: none;
    margin-bottom: 6px;
}

.form__page-select{
    height: 45px;
    width: 100%;
    padding-left: 10px;
    font-size: 1.7rem;
    font-weight: 500;
    border: 1px solid lightgrey;
    outline: none;
    margin-bottom: 6px;
}

.form__page-btn-next{
    width: 330px;
    height: 52px;
    border: none;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    color: var(--white-color);
    border-radius: 5px;
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    background-size: 400%;
    outline: none;
    margin: -20px 0 15px 0;
}

.form__page-btn-next-1, .form__page-btn-Previous-1, .form__page-btn-Previous-2, .form__page-btn-next-2, .form__page-btn-Previous-3, .form__page-btn-submit{
    width: 160px;
    height: 52px;
    border: none;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    color: var(--white-color);
    border-radius: 5px;
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    background-size: 400%;
    outline: none;
    margin: -20px 0 15px 0;
}

.form__page-btn-next:hover, .form__page-btn-next-1:hover, .form__page-btn-Previous-1:hover, .form__page-btn-Previous-2:hover, .form__page-btn-next-2:hover, .form__page-btn-Previous-3:hover, .form__page-btn-submit:hover{
    animation: animate 8s linear infinite;
}

@keyframes animate
{
    0%
    {
        background-position: 0%;
    }
    100%
    {
        background-position: 400%;
    }
}

.form__page-btn-Previous-1, .form__page-btn-Previous-2, .form__page-btn-Previous-3{
    margin-right: 4px;
    font-size: 1.7rem;
}

.form__page-btn-next-1, .form__page-btn-next-2, .form__page-btn-submit{
    margin-left: 3px;
}

/* Progress bar */
.container__progress-bar{
    display: flex;
    margin: 40px 0;
}

.container__progress-bar-step{
    position: relative;
    text-align: center;
    width: 100%;
}

.container__progress-bar-name{
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--black-color);
    margin-bottom: 8px;
    transition: 0.2s;
}

.container__progress-bar-name.active{
    color: #d43f8d;
}

.container__progress-bar-bullet{
    position: relative;
    height: 25px;
    width: 25px;
    border: 2px solid var(--black-color);
    display: inline-block;
    border-radius: 50%;
    transition: 0.2s;
}

.container__progress-bar-bullet.active{
    border-color: #d43f8d;
    background: #d43f8d;
}

.container__progress-bar-bullet::before, .container__progress-bar-bullet::after{
    position: absolute;
    content: '';
    bottom: 9px;
    right: -51px;
    height: 3px;
    width: 44px;
    background: #262626;
}

.container__progress-bar .container__progress-bar-step:last-child .container__progress-bar-bullet::before,
.container__progress-bar .container__progress-bar-step:last-child .container__progress-bar-bullet::after{
    display: none;
}

.container__progress-bar-bullet.active::after{
    background: #d43f8d;
    transform: scaleX(0);
    transform-origin: left;
    animation: progressbar 0.3s linear forwards;
}

@keyframes progressbar{
    100%{
        transform: scaleX(1);
    }
}

.container__progress-bar-bullet .container__progress-bar-bullet-number{
    font-weight: 500;
    font-size: 1.7rem;
    line-height: 22px;
    position: absolute;
    left: 50%;
    transform: translateX(-60%);
}

.container__progress-bar-bullet.active .container__progress-bar-bullet-number{
    display: none;
}

.container__progress-bar-check{
    display: none;
    color: transparent;
    position: absolute;
    left: 50%;
    top: 68%;
    font-size: 1.5rem;
    transform: translate(-50%, -50%);
}

.container__progress-bar-check.active{
    display: block;
    color: var(--white-color);
}